<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>car-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="car-list-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">car-list</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="grid">
    <div class="grid-item" *ngFor="let car of cars" (click)="viewCarDetail(car.id)">
      <ion-label>
        <h2>{{ car.data.brand }} {{ car.data.model }}</h2>
        <p>License Plate: {{ car.data.licensePlate }}</p>
        <ion-img [src]="car.data.frontPhoto" alt="Front Photo" class="car-photo"></ion-img>
        <ion-img [src]="car.data.rearPhoto" alt="Rear Photo" class="car-photo"></ion-img>
      </ion-label>
    </div>
  </div>
</ion-content>
