@import 'src/styles/shared.scss';

/* Specific Styling */
.login-content {
  @extend .shared-content;
}

.login-content .card {
  top: 30%;
}


/* Icon Styling */
ion-input-password-toggle {
  --color: #000; /* Black icon */
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

