<ion-content [fullscreen]="true" class="login-content" scroll="true">
  <div class="logo-container">
    <img src="/assets/logo.png" alt="Logo" class="logo" />
  </div>
  <div class="card">
    <form [formGroup]="loginForm">
      <ion-item class="custom-item">
        <ion-input
          label="Email"
          labelPlacement="stacked"
          placeholder="email@example.com"
          formControlName="email"
          class="custom-input"
        ></ion-input>
      </ion-item>
      <div *ngIf="loginForm.get('email')?.dirty">
        <span *ngIf="loginForm.get('email')?.errors?.['required']" class="error-message">This field is required</span>
        <span *ngIf="loginForm.get('email')?.errors?.['email']" class="error-message">Invalid email</span>
      </div>
      <ion-item class="custom-item">
        <ion-input
          label="Password"
          labelPlacement="stacked"
          [type]="passwordType"
          placeholder="***********"
          formControlName="password"
          class="custom-input"
        >
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>
      <div *ngIf="loginForm.get('password')?.dirty">
        <span *ngIf="loginForm.get('password')?.errors?.['required']" class="error-message">This field is required</span>
        <span *ngIf="loginForm.get('password')?.errors?.['minlength']" class="error-message">Minimum 8 characters required</span>
      </div>
      <div class="button-container">
        <ion-button size="large" (click)="onLogin()">
          Login
        </ion-button>
      </div>
      <div class="link-container">
        <span>Don't have an account? <a [routerLink]="'/signup'">Sign up</a></span>      </div>
    </form>
  </div>
</ion-content>
