<ion-app>
  <ion-header>
    <ion-toolbar class="black-navbar">
      <ion-title>
        <img src="assets/logo.png" alt="Logo" style="height: auto; width: 100px; cursor: pointer;" (click)="navigateToCarList()">
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="navigateToCarList()">Car List</ion-button>
        <ion-button (click)="navigateToCreateCar()">Create a Car</ion-button>
        <app-logout-button *ngIf="isLoggedIn()" style="margin-left: 100px; color: #ffcc00">Logout</app-logout-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <app-login-modal></app-login-modal>
  <router-outlet></router-outlet>
</ion-app>
