<ion-content [fullscreen]="true" class="car-detail-content" >
  <!-- Detail View Container -->
  <div class="detail-container" *ngIf="!isEditMode && car">
    <div class="info-section">
      <h2>{{ car?.brand }} {{ car?.model }}</h2>
      <p>License Plate: {{ car?.licensePlate }}</p>
    </div>

    <div class="images-section">
      <ion-img [src]="car.frontPhoto" alt="Front Photo" class="small-img" (click)="openImageModal(car.frontPhoto)"></ion-img>
      <ion-img [src]="car.rearPhoto" alt="Rear Photo" class="small-img" (click)="openImageModal(car.rearPhoto)"></ion-img>
    </div>

    <div class="buttons-section">
      <ion-button (click)="enableEditMode()">
        <ion-icon name="create" style="color: white;"></ion-icon>
      </ion-button>
      <ion-button style="--background: #333;" (click)="deleteCar()">
        <ion-icon name="trash" style="color: white;"></ion-icon>
      </ion-button>
    </div>
  </div>

  <!-- Edit Form Container -->
  <div class="edit-container" *ngIf="isEditMode">
    <form [formGroup]="carForm" class="edit-mode-form">
      <!-- Edit Car Title -->
      <div class="edit-title">
        <h2>EDIT CAR</h2>
        <p>{{ car?.brand }} {{ car?.model }} - License Plate: {{ car?.licensePlate }}</p>
      </div>

      <ion-item>
        <ion-label>Brand</ion-label>
        <ion-input formControlName="brand"></ion-input>
      </ion-item>
      <div *ngIf="carForm.get('brand')?.touched && carForm.get('brand')?.invalid" class="error-message">
        <p *ngIf="carForm.get('brand')?.errors?.['required']">Brand is required.</p>
      </div>

      <ion-item>
        <ion-label>Model</ion-label>
        <ion-input formControlName="model"></ion-input>
      </ion-item>
      <div *ngIf="carForm.get('model')?.touched && carForm.get('model')?.invalid" class="error-message">
        <p *ngIf="carForm.get('model')?.errors?.['required']">Model is required.</p>
      </div>

      <ion-item>
        <ion-label >License Plate</ion-label>
        <ion-input formControlName="licensePlate"></ion-input>
      </ion-item>
      <div *ngIf="carForm.get('licensePlate')?.touched && carForm.get('licensePlate')?.invalid" class="error-message">
        <p *ngIf="carForm.get('licensePlate')?.errors?.['required']">License plate is required.</p>
        <p *ngIf="carForm.get('licensePlate')?.errors?.['pattern']">License plate format is invalid.</p>
      </div>

      <ion-item>
        <ion-label >Front Photo</ion-label>
        <input type="file" (change)="onFileChange($event, 'frontPhoto')" accept="image/*">
      </ion-item>

      <ion-item>
        <ion-label>Rear Photo</ion-label>
        <input type="file" (change)="onFileChange($event, 'rearPhoto')" accept="image/*">
      </ion-item>

      <div class="buttons-section">
        <ion-button (click)="confirmUpdate()">
          <ion-icon name="checkmark" style="color: white;"></ion-icon>
        </ion-button>
        <ion-button color="medium" (click)="cancelUpdate()">
          <ion-icon name="close" style="color: white;"></ion-icon>
        </ion-button>
      </div>
    </form>
  </div>

</ion-content>
