  <ion-content [fullscreen]="true" class="car-detail-content">


    <div class="detail-container" *ngIf="car">
      <div class="info-section">
        <!-- Detail View -->
        <h2 *ngIf="!isEditMode">{{ car?.brand }} {{ car?.model }}</h2>
        <p *ngIf="!isEditMode">License Plate: {{ car?.licensePlate }}</p>

        <!-- Edit Form -->
        <form *ngIf="isEditMode" [formGroup]="carForm" class="edit-mode-form">
          <ion-item>
            <ion-label position="floating">Brand</ion-label>
            <ion-input formControlName="brand"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Model</ion-label>
            <ion-input formControlName="model"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">License Plate</ion-label>
            <ion-input formControlName="licensePlate"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Front Photo</ion-label>
            <input type="file" (change)="onFileChange($event, 'frontPhoto')" accept="image/*">
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Rear Photo</ion-label>
            <input type="file" (change)="onFileChange($event, 'rearPhoto')" accept="image/*">
          </ion-item>
        </form>
      </div>

      <div class="images-section" *ngIf="!isEditMode">
        <ion-img [src]="car.frontPhoto" alt="Front Photo" class="small-img" (click)="openImageModal(car.frontPhoto)"></ion-img>
        <ion-img [src]="car.rearPhoto" alt="Rear Photo" class="small-img" (click)="openImageModal(car.rearPhoto)"></ion-img>
      </div>

      <div class="buttons-section">
        <ion-button *ngIf="!isEditMode" (click)="enableEditMode()">
          <ion-icon name="create" style="color: white;"></ion-icon>
        </ion-button>
        <ion-button *ngIf="!isEditMode" color="danger" (click)="deleteCar()">
          <ion-icon name="trash" style="color: white;"></ion-icon>
        </ion-button>
        <ion-button *ngIf="isEditMode" (click)="confirmUpdate()">
          <ion-icon name="checkmark" style="color: white;"></ion-icon>
        </ion-button>
        <ion-button *ngIf="isEditMode" color="medium" (click)="cancelUpdate()">
          <ion-icon name="close" style="color: white;"></ion-icon>
        </ion-button>
      </div>
    </div>
  </ion-content>
